
.topPage {
    background-color: #2e70b3d2;
}

ul {
    list-style: none;
}

/*styles for li*/
li {
    justify-content: space-around;
    text-align: center;
    padding-left: 10px;
    border: 3px solid rgb(15, 15, 15);
    background-color: #2e70b3d2;
    color: white;

}

/* styles for card titles */

.card-title {
    font-size: 20px;
}
/*styles for img size*/
img {
    width: auto;
    height: auto;
}

/*styles for day forecast colors*/


.card-row {
    display: flex;
    flex-direction: row;
}



.five-day-card{
    padding: 20px;
    background-color: #2e70b3d2;
    color: white;
    float: left;
    margin: 10px;
    border: 3px solid rgb(15, 15, 15);


}

.five-day-container .card-text {
    margin-bottom: 15px;
    padding: 10px 30px 5px 10px;
}

.five-day-card h3 {
    margin: 5px;
}


.five-day-card img {
    margin-left: 10%;
}
.fiveDayCard {
    border: 3px solid rgb(15, 15, 15);
    text-align: center;
}



/*styles for current weather */

.currentCard {
    border: 3px solid rgb(15, 15, 15);
    align-items:right;
    color: black;
    font-weight: bolder;

}

button:hover {
    background-color: #feca57;
}



.historyItems {
    margin-top: 20px;
}

.historyItems:nth-child() {
    margin-top: 20px;
}







